body {
  background-color: black;
  background-image: url('http://christensenastroimages.com/nebula/horsehead_20041211.jpg');
  background-size: 1200px;
  background-repeat: no-repeat;
}

.animal {
  height: 120px;
  position: fixed;
  top: 40%;
}